@import url('https://fonts.googleapis.com/css2?family=Anton&family=Langar&display=swap');

*{

    font-family: "Anton", sans-serif;
    box-sizing: border-box;
}

/* CSS za header */

h1 {
    text-shadow: 2px 2px 1px cornsilk;
    vertical-align: middle;

    background-color:#B0E0E6 ;
    width:fit-content;
    height:fit-content;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 575px;

    border-top-width: 5px;
    border-top-color:#00BFFF;
    border-top-style:double;

    border-right-width: 7px;
    border-right-color: #9ACD32;
    border-right-style:solid;

    border-bottom-width: 10px;
    border-bottom-color: #00CED1;
    border-bottom-style:solid;

    border-left-width: 5px;
    border-left-color: #6A5ACD;
    border-left-style:solid;
    padding: 3px 40px;
 }

 /* CSS for Images */


 #fancy-parrot{
     border-style: dotted;
     border-width: 5px;
     border-color: #32CD32;
     padding: 5px;
     margin-right: 30px;
     margin-bottom: 30px;
     margin-left: 300px;

 }

 #chubby-koala{
    border-style: dotted;
    border-width: 5px;
    border-color: #32CD32;
    padding: 5px;
   
    margin-right:30px ;
    margin-bottom:60px ;
  
 }

 #cute-monkeys{
    border-style: dotted;
    border-width: 5px;
    border-color: #32CD32;
    padding: 5px;
    margin-right:30px ;
    margin-bottom:30px ;
 }

/* CSS for Content/Padding/Border Boxes */

#box{
    margin-left: 420px;
}


.content-box{ 
    
    border: black;
    border-style: dashed;
    margin: 20px;
    padding: 0.7em;
    background:#32CD32;
    font: 900 1.2em sans-serif;
    color: white;
    background-clip: content-box;
    display: inline-block;
}
    

.padding-box{ 

    border: black;
    border-style: dashed;
    margin: 20px;
    padding: 0.7em;
    background:#32CD32;
    font: 900 1.2em sans-serif;
    color: white;
    background-clip: padding-box;
    display: inline-block;
}

.border-box{ 

    border: black;
    border-style: dashed;
    margin: 20px;
    padding: 0.7em;
    background:#32CD32;
    font: 900 1.2em sans-serif;
    color: white;
    background-clip: border-box;
    display: inline-block;
}

hr{
    border: 1px dashed red;
}
 

/* CSS for the Bonus Task */


h2{
    text-shadow: 2px 2px 1px cornsilk;
    vertical-align: middle;

    background-color:#B0E0E6 ;
    width:fit-content;
    height:fit-content;

    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 600px;

    border-top-width: 5px;
    border-top-color:#00BFFF;
    border-top-style:double;

    border-right-width: 7px;
    border-right-color: #9ACD32;
    border-right-style:solid;

    border-bottom-width: 10px;
    border-bottom-color: #00CED1;
    border-bottom-style:solid;

    border-left-width: 5px;
    border-left-color: #6A5ACD;
    border-left-style:solid;
    padding: 3px 40px;
}

/* CSS for acidic/basic scale */

/* PRASHANJE:Kako da  */

.bonus{
    width: 300px;
    height: 20px;
    background-color: rgb(199, 165, 165);
    color: white;
    text-align: end;
    margin-left: 580px;
}

#one{
   
    background-color:#2196F3  ;
;
    
}

#two{
  
    background-color:#2196F3 ;
   
}


#three{
   
    background-color:#42A5F5;
    
}

#four{
    
    background-color: #64B5F6;
    
}

#five{
    
    background-color:#90CAF9;
   
}

#six{
    
    background-color:#BBDEFB ;
    
}

#seven{
    
    background-color:#B2EBF2;
   
}

#eight{
   
    background-color:#66CDAA;
  
}

#nine{
    
    background-color:#FCE4EC;
    
}

#ten{
    
    background-color:#F8BBD0;
    
}

#eleven{
  
    background-color: #F48FB1;
   
}

#twelve{
    
    background-color: #F06292;
   
}


#thirteen{
  
    background-color: #EC407A;
   
}


#fourteen{
 
    background-color: #E91E63;
   
}


#fifteen{
  
    background-color:#D81B60;
 
}






